html,
body {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    height: 100px;
    border: 1px solid rgb(213, 6, 6);
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.logo {
    font-size: 56px;
}

.links {
    width: 60%;
    display: flex;
    border: 1px solid #000;
    justify-content: space-around;
    height: 40px;
    margin-top: px;
}

.links input {
    border-radius: 20px;
    border: 1px solid rgb(146, 146, 146);
    width: 300px;
}

.links>i {
    font-size: 20px;
}

.link {
    /* border: 1px solid #000; */
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 46px;
    margin: auto 0;
}

.link p {
    text-align: center;
}

.link i {
    align-self: center;
}

.profile {
    border: 1px solid #000;
    width: 25%;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.profile p {
    padding: 0;
    margin: 0;
}

.profile .link {
    margin: auto 0;
}

.prof_details {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.thumbnail {
    width: 100%;
    height: 50%;
}

.description {
    height: 40%;
    /* border: 1px solid #000; */
}

.description p,
.description h4,
.description .btns {
    margin-left: 20px;
}

.details {
    display: flex;
    /* border: 1px solid #000; */
}

.name {
    height: 30px;
    display: flex;
    /* border: 1px solid #000; */
    justify-content: space-between;
}

.name img {
    width: 16px;
    height: 16px;
    align-self: flex-end;
    margin-right: 76px;
    position: relative;
    bottom: 5px;
}

.name h6 {
    position: relative;
    bottom: -6px;
}

.name img:nth-of-type(2) {
    position: relative;
    left: 75px;
    bottom: 7px;
}

.details img {
    margin-top: -30px;
    position: relative;
    bottom: 8px;
}

.btns {
    /* border: 1px solid #000; */
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.btns button {
    width: 170px;
    height: 40px;
}