@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,
body,
nav,
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    background-color: #F7F9FB;
}

.nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    /* border: 1px solid rgb(213, 6, 6); */
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
}

.border-nav {
    border-right: 1px solid #F4F4F4;
    height: 80px;
    margin-left: 25px;
}

.nav-border {
    /* margin-top: -20px; */
    border-right: 1px solid #F4F4F4;
    height: 80px;
    position: relative;
    bottom: 30px;
}

#border-nav {
    margin-top: -10px;
    border-right: 1px solid #F4F4F4;
    height: 80px;
}


/* .border-nav:nth-of-type(2) {
    position: relative;
    bottom: 20px;
}*/

.notification {
    display: flex;
    justify-content: center;
}

.fa-comment-alt {
    font-size: 22px;
}

.notification img {
    height: 16px;
    width: 16px;
    position: absolute;
    margin-top: -5px;
    margin-left: 10px;
}

.notification span {
    position: absolute;
    margin-top: -5px;
    margin-left: 20px;
    color: #FFF;
    font-size: 10px;
}

.logo {
    font-size: 46px;
    position: relative;
}

.links {
    bottom: 10px;
    width: 65%;
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top: 18px;
}

.links input {
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    width: 240px;
}

.search button {
    width: 30%;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 10px;
    border: none;
    padding: 0 20px;
}

.search-txt {
    border: none;
    outline: none;
    color: #CECECE;
}

.search i {
    color: #0275B1;
    margin-right: 10px;
}

.links>i {
    font-size: 30px;
}

.link>i {
    font-size: 22px;
}

.link {
    /* border: 1px solid #000; */
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 46px;
    margin: auto 0;
}

.link p {
    text-align: center;
}

.link i {
    align-self: center;
}

.profile {
    /* border: 1px solid #000; */
    width: 30%;
    height: 60px;
    display: flex;
    justify-content: space-around;
}


/* .profile_img {
    border: 1px solid #000;
} */

.profile p {
    padding: 0;
    margin: 0;
}

.profile .link {
    margin: auto 0;
}

.content {
    /* border: 1px solid #000; */
    width: 50%;
    display: flex;
    flex-direction: column;
}

.content small {
    color: #02B033;
    height: 12px;
    width: 12px;
    position: relative;
}

.content span {
    color: rgba(24, 24, 24, 0.2);
}

.prof_details {
    width: 100%;
    height: 410px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.thumbnail {
    width: 100%;
    height: 50%;
}

#picturethumb {
    width: 100%;
}

.description {
    height: 40%;
}

.description p,
.description h4,
.description .btns {
    margin-left: 20px;
}

.details {
    display: flex;
    /* border: 1px solid #000; */
}

.name {
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.name img {
    width: 16px;
    height: 16px;
    align-self: flex-end;
    margin-right: 10px;
    position: absolute;
    bottom: 5px;
}

.name h6 {
    position: relative;
    bottom: -6px;
}

.name img:nth-of-type(2) {
    position: relative;
    left: 75px;
    bottom: 7px;
}

.details img {
    margin-top: 15px;
    position: relative;
    bottom: 8px;
}

.btns {
    width: 55%;
    display: flex;
    justify-content: space-around;
}

.btn-outline-primary {
    width: 170px;
    height: 32px;
    border: 1px solid #0E6795;
    background-color: #0275B1;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
}

.btn-outline-secundary {
    width: 170px;
    height: 32px;
    border: 1px solid #0E6795;
    background-color: #FFF;
    color: #0275B1;
    text-transform: uppercase;
    font-size: 12px;
}

.btns button:hover {
    background-color: #0E6795;
    border: 1px solid #0E6795;
}

.section_btn {
    border-bottom: 1px solid rgb(206, 202, 202);
    display: flex;
    align-items: flex-end;
}

.buttons {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.buttons:nth-of-type(1) {
    height: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #0E6795;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Gotham Pro;
}

.buttons:nth-of-type(2),
.buttons:nth-of-type(3) {
    height: 40px;
    border: 1px solid #d6d4d4;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Gotham Pro;
    font-weight: bold;
}

.buttons:nth-of-type(3) {
    border-top-right-radius: 4px;
}

.about {
    border-radius: 4px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 50px;
    font-size: 14px;
    font-family: Gotham Pro;
    background-color: #FFF;
}

#seemore {
    text-decoration: none;
    font-size: 12px;
}

.about div {
    /* border: 1px solid #000; */
    width: 93%;
}

.projects {
    margin-top: 30px;
    background-color: #FFF;
    border-radius: 4px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.projects h3 {
    margin-top: 30px;
    margin-left: 30px;
}

.projects p {
    margin-bottom: 31px;
    margin-left: 30px;
}

.projects_in {
    /* border: 1px solid rgb(3, 124, 128); */
    margin-top: 25px;
    display: flex;
    width: 92%;
    height: 70%;
    justify-content: space-between;
    align-self: center;
}

.project {
    width: 31.5%;
}

.project img {
    width: 100%;
}

.skills {
    margin-top: 30px;
    background-color: #FFF;
    border-radius: 4px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skills h3 {
    margin-top: 30px;
    margin-left: 30px;
}

.skills p {
    margin-bottom: 31px;
    margin-left: 30px;
}

.endorsements {
    /* border: 1px solid #000; */
    width: 93%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.endorsement {
    /* border: 1px solid #000; */
    display: flex;
    width: 32%;
    flex-direction: column;
}

.endorsement img {
    width: 45%;
}

.endorsement span {
    margin-left: 60px;
    color: #0275B1;
}

.experience {
    /* height: 345px; */
    margin-top: 30px;
    background-color: #FFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.experience span {
    border: 1px solid #F4F4F4;
    width: 90%;
    margin-left: 45px;
}

.experience h3 {
    margin-top: 30px;
    margin-left: 30px;
}

.xp {
    display: flex;
    /* border: 1px solid rgb(214, 23, 23); */
    margin-left: 3.5%;
}

.xp_icon {
    /* border: 1px solid #000; */
    margin-top: 18px;
    margin-right: 3.5%;
}

.xp_content {
    width: 94%;
    /* border: 1px solid #000; */
    padding: 20px;
    /* box-sizing: border-box; */
}

.education {
    margin-top: 30px;
    background-color: #FFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.education h3 {
    margin-top: 30px;
    margin-left: 30px;
}

.ed_info {
    display: flex;
    /* border: 1px solid rgb(214, 23, 23); */
    margin-left: 3.5%;
}

.ed_icon {
    /* border: 1px solid #000; */
    margin-top: 18px;
    margin-right: 3.5%;
}

.ed_content {
    width: 94%;
    /* border: 1px solid #000; */
    padding: 20px;
    /* box-sizing: border-box; */
}

.dashboard {
    margin-top: 50px;
    height: 360px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFF;
}

.title {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.title h5 {
    font-size: 12px;
    text-transform: uppercase;
}

.title span {
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 11px;
    text-align: right;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #0275B1;
    font-weight: bold;
}

.profile_views,
.post_views,
.search_app {
    /* border: 1px solid #000; */
    width: 84%;
    margin: auto;
}

.profile_views h1,
.post_views h1,
.search_app h1 {
    font-size: 52px;
    color: #0275B1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile_views p,
.post_views p,
.search_app p {
    font-family: Gotham Pro;
    font-size: 14px;
    color: #181818;
    margin-top: -10px;
}

.visitors {
    margin-top: 20px;
    /* border: 1px solid #000; */
    height: 427px;
}

.all_visitors {
    height: 400px;
    /* border: 1px solid rgb(197, 175, 5); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.visitor_prof {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-around;
}


/* .visitor_pic {
    border: 1px solid #000;
} */

.visitor_desc {
    /*border: 1px solid #000;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 161px;
}

.visitor_desc small {
    font-size: 12px;
}

.suggestions {
    margin-top: 20px;
    /* border: 1px solid #000; */
    height: 338px;
}

.all_videos {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.video {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-evenly;
}


/* .video_img {
    border: 1px solid rgb(24, 255, 3);
} */

.video_info {
    /* border: 1px solid rgb(208, 49, 49); */
    width: 50%;
}

.video_info p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}


/* -- Footer -- */

footer {
    align-items: baseline;
    background-color: #F7F9FB;
    border-top: 1px solid #E7E7E7;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    max-height: 215px;
    width: 100%;
}

#logo {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
}

#logo img {
    top: 88px;
}

footer nav {
    display: flex;
    flex-direction: column;
}

footer ul {
    margin-right: 30px;
}

.nav-p {
    margin-left: 31px;
}

.footer_nav {
    display: flex;
}


/* footer ul {
    margin-right: 30px;
} */

footer li,
li a {
    color: #181818;
    list-style: none;
    text-decoration: none;
}

.fa-linkedin {
    color: #0E6795;
    font-size: 46px;
}

footer button {
    align-items: center;
    border: 1px solid #0275B1;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    font-family: Gotham Pro;
    font-size: 12px;
    height: 32px;
    justify-content: space-between;
    line-height: 11px;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    width: 170px;
}

#questions {
    background-color: #0275B1;
    color: #FFF;
}

#settings {
    background-color: #FFF;
    color: #0275B1;
}

#language {
    align-items: center;
    height: 32px;
    padding: 5px;
    width: 270px;
    text-transform: uppercase;
}