html,
body {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    height: 100px;
    border: 1px solid rgb(213, 6, 6);
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.logo {
    font-size: 56px;
}

.links {
    width: 60%;
    display: flex;
    border: 1px solid #000;
    justify-content: space-around;
    height: 40px;
    margin-top: px;
}

.links input {
    border-radius: 20px;
    border: 1px solid rgb(146, 146, 146);
    width: 300px;
}

.links>i {
    font-size: 20px;
}

.link {
    /* border: 1px solid #000; */
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 46px;
    margin: auto 0;
}

.link p {
    text-align: center;
}

.link i {
    align-self: center;
}

.profile {
    border: 1px solid #000;
    width: 25%;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.profile p {
    padding: 0;
    margin: 0;
}

.profile .link {
    margin: auto 0;
}

.prof_details {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.thumbnail {
    width: 100%;
    height: 50%;
}

.description {
    height: 40%;
    /* border: 1px solid #000; */
}

.description p,
.description h4,
.description .btns {
    margin-left: 20px;
}

.details {
    display: flex;
    /* border: 1px solid #000; */
}

.name {
    height: 30px;
    display: flex;
    /* border: 1px solid #000; */
    justify-content: space-between;
}

.name img {
    width: 16px;
    height: 16px;
    align-self: flex-end;
    margin-right: 76px;
    position: relative;
    bottom: 5px;
}

.name h6 {
    position: relative;
    bottom: -6px;
}

.name img:nth-of-type(2) {
    position: relative;
    left: 75px;
    bottom: 7px;
}

.details img {
    margin-top: -30px;
    position: relative;
    bottom: 8px;
}

.btns {
    /* border: 1px solid #000; */
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.btns button {
    width: 170px;
    height: 40px;
    border: 1px solid #0E6795;
    color: #0E6795;
}

.btns button:hover {
    background-color: #0E6795;
    border: 1px solid #0E6795;
}

.section_btn {
    border-bottom: 1px solid rgb(206, 202, 202);
    display: flex;
    align-items: flex-end;
}

.buttons {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.buttons:nth-of-type(1) {
    height: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #0E6795;
    color: #fff;
}

.buttons:nth-of-type(2),
.buttons:nth-of-type(3) {
    height: 40px;
    border: 1px solid #d6d4d4;
}

.buttons:nth-of-type(3) {
    border-top-right-radius: 4px;
}

.about {
    margin-top: 30px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 4px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about div {
    /* border: 1px solid #000; */
    width: 93%;
}

.projects {
    margin-top: 30px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.projects h3 {
    margin-top: 30px;
    margin-left: 30px;
}

.projects p {
    margin-bottom: 31px;
    margin-left: 30px;
}

.projects_in {
    /* border: 1px solid rgb(3, 124, 128); */
    margin-top: 25px;
    display: flex;
    width: 92%;
    height: 70%;
    justify-content: space-between;
    align-self: center;
}

.project {
    width: 31.5%;
}

.project img {
    width: 100%;
}

.skills {
    margin-top: 30px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skills h3 {
    margin-top: 30px;
    margin-left: 30px;
}

.skills p {
    margin-bottom: 31px;
    margin-left: 30px;
}

.endorsements {
    /* border: 1px solid #000; */
    width: 93%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.endorsement {
    /* border: 1px solid #000; */
    display: flex;
    width: 32%;
    flex-direction: column;
}

.endorsement img {
    width: 45%;
}

.endorsement span {
    margin-left: 60px;
    color: #0275B1;
}

.experience {
    /* height: 345px; */
    margin-top: 30px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.experience h3 {
    margin-top: 30px;
    margin-left: 30px;
}

.xp {
    display: flex;
    /* border: 1px solid rgb(214, 23, 23); */
    margin-left: 3.5%;
}

.xp_icon {
    /* border: 1px solid #000; */
    margin-top: 18px;
    margin-right: 3.5%;
}

.xp_content {
    width: 94%;
    /* border: 1px solid #000; */
    padding: 20px;
    /* box-sizing: border-box; */
}

.education {
    margin-top: 30px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.education h3 {
    margin-top: 30px;
    margin-left: 30px;
}

.ed_info {
    display: flex;
    /* border: 1px solid rgb(214, 23, 23); */
    margin-left: 3.5%;
}

.ed_icon {
    /* border: 1px solid #000; */
    margin-top: 18px;
    margin-right: 3.5%;
}

.ed_content {
    width: 94%;
    /* border: 1px solid #000; */
    padding: 20px;
    /* box-sizing: border-box; */
}

.dashboard {
    margin-top: 20px;
    height: 360px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    display: flex;
    justify-content: space-around;
}

.title h5 {
    font-size: 14px;
}

.profile_views,
.post_views,
.search_app {
    border: 1px solid #000;
    width: 84%;
    margin: auto;
}

.visitors {
    margin-top: 20px;
    border: 1px solid #000;
    height: 427px;
}

.all_visitors {
    height: 400px;
    /* border: 1px solid rgb(197, 175, 5); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.visitor_prof {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-around;
}


/* .visitor_pic {
    border: 1px solid #000;
} */

.visitor_desc {
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visitor_desc small {
    font-size: 12px;
}